{
  "extends": ["standard", "standard-react", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "plugins": ["jest", "react-hooks"],
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error"
  }
}
